.header {
  background-color: #031C30;
  width: 250px;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #EFF2F4;
  display: flex;
  align-items: center;
  padding: .37em .9em;
  border-radius: 5px;
}

span {
  margin-left: 18px;
  display: block;
  font-size: 15px;
}

.active {
  background-color: #667A8A;
}

.header-nav {
  padding: .75em .85em;
  height: 100%;
  /* position: relative; */
  display: flex;
  flex-direction: column;
}

.header-icon {
  margin-bottom: 1.5em;
}

.header-links .logout {
  align-self: flex-end;
  justify-self: flex-end;
}

.links {
  margin: 1.05em 0;
}

.header-nav .logout {
  /* position: absolute;
  bottom: 0;
  left: 10; */
  margin-top: auto;
}
