.main-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1.5em;
  margin-top: 1.5em;
  z-index: 100;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-search input[type="search"]::placeholder {
  font-size: .85rem;
}

.main-search img {
  width: 45px;
  border-radius: 50%;
}

.main-search button {
  background: none;
  border: none;
  color: white;
  background-color: white;
  border-radius: 50%;
  margin: 0 .5em;
}